<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.create %> <%= labels.flag %></strong>"
</script>

<article>
<form action="/create-flag" method="POST">
  <input type="hidden" id="bucket_name" name="bucket_name" value="<%= bucket_name %>" >

  <!-- Grid -->
  <div class="mb-3">

    <!-- Markup example 1: input is inside label -->
    <label for="flag-name">
      <%= labels.flag %> <%= labels.name %>
    </label>
    <input class="form-control" type="text" id="flag-name" name="flag-name" required >

  </div>

  <!-- Button -->
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit"><%= labels.create %></button>
  </div>
    
</form>
</article>