<article>
  <div style="text-align: right;">
    <div class="btn-group" role="group" aria-label="Create">
      <a href="/create-flag?bucket_name=<%= bucket.name %>" type="button" class="btn btn-outline-primary">Create</a>
    </div>
  </div>
  <br>
<table class="table table-striped table-hover" data-toggle="table" data-pagination="true" data-search="true">
  <thead>
    <tr>
      <th><%= labels.flag %> <%= labels.name %></th>
      <th><%= labels.flag %> Values</th>
      <th><%= labels.flag %> Tags</th>
    </tr>
  </thead>
  <% flags.forEach( function(flag) { %>
    <tr>
      <td><a href="/update-flag?name=<%= flag.name %>&bucket-name=<%= bucket.name %>"> <%= flag.name %></a></td>
      <td>
        <table>
        <% flag.values.forEach( function(value) { %>
          <tr>
          <td style="font-weight: bold"><%= value.context %><span style="width: 30px;display: inline-block;"></span></td>
          <td>
          <% if (value.value=="0") { %>
            <div class="form-check form-switch">
              <input type="checkbox" id="switch" name="switch" class="form-check-input" disabled>
            </div>
          <% } else if (value.value=="1") { %>
            <div class="form-check form-switch">
              <input type="checkbox" id="switch" name="switch" class="form-check-input" disabled checked>
            </div>
          <% } else { %>
            <%= value.value %>
          <% } %>
          </td>
          </tr>
        <% }) %>
        </table>
      </td>
      <td>
        <% flag.tags.forEach( function(tag) { %>
          <span class="badge text-bg-warning" style="margin:2px;font-size:large">tag:<%= tag %></span>
        <% }) %>        
      </td>
    </tr>    
  <% }) %>

</table>
</article>
<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.flags %> <%= labels.list %></strong>"
  document.getElementById("menu-actions").innerHTML = `

  `
</script>