<article>
  <div style="text-align: right;">
    <div class="btn-group" role="group" aria-label="Create">
      <a href="/create-flag?bucket_name=<%= bucket.name %>" type="button" class="btn btn-outline-primary">Create</a>
    </div>
  </div>
  <br>
<table class="table table-striped table-hover">
  <tr>
      <th><%= labels.flag %> <%= labels.name %></th>
      <th><%= labels.flag %> <%= labels.value %></th>
  </tr>
  <% flags.forEach( function(flag) { %>
    <tr>
      <td><a href="/update-flag?name=<%= flag.name %>&bucket-name=<%= bucket.name %>"> <%= flag.name %></a></td>
      <td>
        <% if (flag.value=="0") { %>
          <input type="checkbox" id="switch" name="switch" role="switch" disabled>
        <% } else if (flag.value=="1") { %>
          <input type="checkbox" id="switch" name="switch" role="switch" disabled checked>
        <% } else { %>
          <%= flag.value %>
        <% } %>
      </td>
    </tr>    
  <% }) %>
</table>
</article>
<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.flags %> <%= labels.list %></strong>"
  document.getElementById("menu-actions").innerHTML = `

  `
</script>