<article>
  <form action="/update-flag" method="POST">

    <!-- Grid -->
    <div class="mb-3">

      <!-- Markup example 1: input is inside label -->
      <label for="flag-name-disabled">
        <%= labels.flag %>
          <%= labels.name %>
      </label>
      <input class="form-control" type="text" id="flag-name-disabled" name="flag-name-disabled" disabled
        value="<%= flag.name %>">
      <input type="hidden" name="flag-name" value="<%= flag.name %>">
      <input type="hidden" id="flag-values" name="flag-values" value="<%= flag.values %>">
      <input type="hidden" id="flag-tags" name="flag-tags" value="<%= flag.tags %>">

      <label for="flag-type">
        <%= labels.flag %> Type

          <select class="form-control" id="flag-type" name="flag-type">
            <option value="bool" <% if (flag.type=="bool" ) { %> selected <% } %> >Boolean</option>
            <option value="list" <% if (flag.type=="list" ) { %> selected <% } %> >List</option>
            <option value="text" <% if (flag.type=="text" ) { %> selected <% } %> >Text</option>
          </select>
      </label>

      <div class="mb-3">
        <label for="flag-options">
          <%= labels.flag %> Options
        </label>
        <input class="form-control" type="text" id="flag-options" name="flag-options" value="<%= flag.options %>">
      </div>

    </div>
    <div class="accordion" id="configSections">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            Values
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <article>
              <div style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Flags">
                  <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#modal-flag-values"
                    onclick="showValues()" class="btn btn-success"
                    >Configure</a>

                </div>
              </div>
              <ul id="values-list-form"></ul>
            </article>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseTwo">
            Tags
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <article>
              <div style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Tags">
                  <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#modal-flag-tags"
                    onclick="showTags()" class="btn btn-warning" >Configure</a>

                </div>
              </div>
              <div id="tags-list-form"></div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Button -->
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" onmouseover="prepareValues()">
        <%= labels.update %>
      </button>
    </div>
  </form>
</article>
<div id="modal-delete-flag" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= labels.confirm %>
            <%= labels.deletion %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <article>
          <table>
            <tr>
              <td>
                <%= labels.delete %> : <strong>
                    <%= flag.name %>
                  </strong>
              </td>
            </tr>
          </table>
      </div>
      </article>
      <div class="modal-footer">
        <a href='/delete-flag?name=<%= flag.name %>&bucket-name=<%= bucket.name %>' class="btn btn-danger"
          style='color:white;background-color: firebrick;'>
          <%= labels.delete %>
        </a>
        <a href='#' class="btn btn-primary" data-bs-dismiss="modal">
          <%= labels.cancel %>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="modal-flag-values" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Configure Values</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <article>
          <table style="width: 100%;">
            <tr>
              <td>
                <span style="font-size: larger;">Add contexts combinations</span><span style="display:inline-block;width: 122px;"></span>
                <a href="#" id="add-context-button" type="button" onclick="addValue()" class="btn btn-outline-primary btn-sm">+</a>                
                <br>
                <br>
                <select multiple id="value-contexts">
                  <% if (bucket.contexts.constructor.name=="Array" ) { %>
                    <% bucket.contexts.forEach(element=> { %>
                      <option value="<%= element.name %>">
                        <%= element.name %>
                      </option>
                      <% }) %>

                        <% } %>
                </select>
                <br>
              </td>
            </tr>
            <tr>
              <td>
                <ul id="values-list-modal"></ul>
              </td>
            </tr>
          </table>
      </div>
      </article>
      <div class="modal-footer">
        <a href='#' class="btn btn-primary" data-bs-dismiss="modal" role='button'>Close</a>
      </div>
    </div>
  </div>
</div>
<div id="modal-flag-tags" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Configure Tags</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <article>
          <table style="width: 100%;">
            <tr>
              <td>
                <span style="font-size: larger;">Add Tags</span><span style="display:inline-block;width: 284px;"></span><a href="#" id="add-context-button" type="button" onclick="addTag()" class="btn btn-outline-primary btn-sm">+</a>
                <br>
                <br>
                <select multiple id="tags">
                  <% tags.forEach(element=> { %>
                    <option value="<%= element.name %>">
                      <%= element.name %>
                    </option>
                    <% }) %>
                </select>
                <br>                
              </td>
            </tr>
            <tr>
              <td>
                <div id="tags-list-modal"></div>
              </td>
            </tr>
          </table>
      </div>
      </article>
      <div class="modal-footer">
        <a href='#' class="btn btn-primary" data-bs-dismiss="modal" role='button'>Close</a>
      </div>
    </div>
  </div>
</div>
<script>
  String.prototype.hashCode = function() {
    var hash = 0,
      i, chr;
    if (this.length === 0) return hash;
    for (i = 0; i < this.length; i++) {
      chr = this.charCodeAt(i);
      hash = ((hash << 5) - hash) + chr;
      hash |= 0; // Convert to 32bit integer
    }
    return hash;
  }

  let values = []
  try {
    values = JSON.parse("<%= JSON.stringify(flag.values) %>".replace(/&#34;/g,'"').replace(/^"|"$/gm,'')) || []
    
  } catch (error) {}

  let tags = []
  try {
    tags = JSON.parse("<%= JSON.stringify(flag.tags) %>".replace(/&#34;/g,'"').replace(/^"|"$/gm,'')) || []
    
  } catch (error) {}

  prepareSelectsModals()
  showValues()
  showTags()

  document.getElementById("menu-title").innerHTML = "<strong><%= labels.update %> <%= labels.flag %></strong>"
  document.getElementById("menu-actions").innerHTML = `
    <li><a class="dropdown-item" href='#' data-bs-toggle="modal" data-bs-target="#modal-delete-flag" style='color:white;background-color: firebrick;'><%= labels.delete %> <%= labels.flag %></a></li>
  `
  setModal('modal-delete-flag')

  function addValue() {
    let valueContexts = document.getElementById("value-contexts")
    let contextsList = Array.from(valueContexts.selectedOptions).map(v=>v.value)
    values.push({
      contexts:contextsList,
      id:JSON.stringify(contextsList).hashCode()
    })

    valueContexts.value = ""

    showValues() 

  }

  function prepareSelectsModals() {
    var selectElement = document.getElementById("value-contexts");
    multi(selectElement, {
      //search_placeholder: 'Search fruits...',
    });
    let tagsElement = document.getElementById("tags")
    multi(tagsElement, {
      //search_placeholder: 'Search fruits...',
    });    
  }

  function prepareValues() {

    let contextValueWidget = ""
    let contextFinalValue = ""

    for (let index = 0; index < values.length; index++) {
      element = values[index]
      contextValueWidget = document.getElementById(`value.${element.id}`)
      if (contextValueWidget.type == "checkbox") {
        if (contextValueWidget.checked) {
          contextFinalValue = "1"
          
        } else {
          contextFinalValue = "0"
          
        }
      }
      else{
        contextFinalValue = contextValueWidget.value
      }

      element.value = contextFinalValue
        
    }

    document.getElementById("flag-values").value=JSON.stringify(values)
    
  }

  function deleteValue(id) {

    let tempList = []
    for (let index = 0; index < values.length; index++) {
      element = values[index];
      if (element.id != id) {
        tempList.push(element)
      }

    }

    values = tempList
    showValues()
    
  }

  function showValues() {

    let valuesListForm = document.getElementById("values-list-form")
    let tempVar = ""
    let tempContextVar = ""
    let contextValue = ""
    valuesListForm.innerHTML=""
    
    for (index = 0; index < values.length; index++) {
      var element = values[index];
      tempContextVar = ""
      for (let contextIndex = 0; contextIndex < element.contexts.length; contextIndex++) {
        const context = element.contexts[contextIndex]
        tempContextVar = `${tempContextVar} <span class="badge text-bg-success" style="margin-top:15px;margin-bottom:15px">${context}</span>`
        
      }
      var flagType = document.getElementById("flag-type")
      var widget = ""
      if (flagType.value == "bool") {
        if (element.value == "1") {
          contextValue = "checked"
          
        } else {
          contextValue = ""
          
        }
        widget = `<div class="form-check form-switch"><input id='value.${element.id}' type='checkbox' ${contextValue} role='switch' class="form-check-input" style="width:44px;height:22px"/></div>`
      } else if (flagType.value == "list"){
        var selectOptionsHtml = ""
        var selectOptions = document.getElementById("flag-options").value.split("|")
        for (let selectOptionsIndex = 0; selectOptionsIndex < selectOptions.length; selectOptionsIndex++) {
          const selectOption = selectOptions[selectOptionsIndex];
          var selectOptionSelected=""
          if (element.value == selectOption) {
            selectOptionSelected = "selected"
          }
          selectOptionsHtml = selectOptionsHtml + `<option value="${selectOption}" ${selectOptionSelected} >${selectOption}</option>`
          
        }
        widget = `<select class="form-control" id='value.${element.id}'>${selectOptionsHtml}</select>`
      } else if (flagType.value == "text"){
        widget = `<div class="mb-3"><input class="form-control" id='value.${element.id}' type='text' value="${element.value}" /></div>`
        
      }

      tempVar = `<li>${tempContextVar} <br> ${widget} </li>`
      valuesListForm.innerHTML=valuesListForm.innerHTML + tempVar
      
    }

    let valuesListModal = document.getElementById("values-list-modal")
    tempVar = ""
    valuesListModal.innerHTML=""

    for (let index = 0; index < values.length; index++) {
      element = values[index];
      tempContextVar = ""
      for (let contextIndex = 0; contextIndex < element.contexts.length; contextIndex++) {
        const context = element.contexts[contextIndex]
        tempContextVar = `${tempContextVar} <span class="badge text-bg-primary">${context}</span>`
        
      }
      
      tempVar = `<li><i class="bi bi-trash" onclick="deleteValue('${element.id}')"></i> - ${tempContextVar}</li>`
      valuesListModal.innerHTML=valuesListModal.innerHTML + tempVar

    }

    document.getElementById("flag-values").value=JSON.stringify(values)
    
  }

  function addTag() {
    let tagsWidget = document.getElementById("tags")
    tags = tags.concat(Array.from(tagsWidget.selectedOptions).map(v=>v.value))

    showTags() 

  }

  function deleteTag(tagName) {

    tags = tags.filter(e => e !== tagName)
    showTags()
    
  }
  
  function showTags() {
    
    let tagsListForm = document.getElementById("tags-list-form")
    let tagsListModal = document.getElementById("tags-list-modal")

    let tempVar = ""
    let modalTempVar = ""

    tagsListForm.innerHTML=""
    tagsListModal.innerHTML=""
    
    for (index = 0; index < tags.length; index++) {
      var element = tags[index]
      tempVar = `${tempVar} <span class="badge text-bg-warning" style="margin:2px">${element}</span> `
      modalTempVar = `${modalTempVar} <li><i class="bi bi-trash" onclick="deleteTag('${element}')"></i> <span class="badge text-bg-success" style="margin:inherit">${element}</span> </li>`
    }

    tagsListForm.innerHTML= tempVar
    tagsListModal.innerHTML=  modalTempVar      

    document.getElementById("flag-tags").value=JSON.stringify(tags)
    
  }
</script>