<article>
<form action="/update-flag" method="POST">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="flag-name-disabled">
      <%= labels.flag %> <%= labels.name %>
      <input type="text" id="flag-name-disabled" name="flag-name-disabled"  disabled value="<%= flag.name %>">
      <input type="hidden" name="flag-name" value="<%= flag.name %>">
    </label>

    <label for="flag-value">
      <%= labels.flag %> <%= labels.value %>
      <input type="text" id="flag-value" name="flag-value"  required value="<%= flag.value %>">
    </label>

  </div>

  <!-- Button -->
  <button type="submit"><%= labels.update %></button>
    
</form>
</article>
<div id="modal-delete-flag" style="visibility: hidden;">
  <article>
    <table>
      <tr>
        <td><p style="font-size: xx-large;"><%= labels.confirm %> <%= labels.deletion %></p></td>
      </tr>
      <tr>
        <td><%= labels.delete %> : <strong><%= flag.name %></strong></td>
      </tr>         
    </table>
    <footer>
      <a href='/delete-flag?name=<%= flag.name %>'' role='button' style='color:white;background-color: firebrick;'><%= labels.delete %></a>
      <a href='#' onclick="closeModal()" role='button'><%= labels.cancel %></a>
    </footer>
  </article>
</div>
<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.update %> <%= labels.flag %></strong>"
  document.getElementById("menu-actions").innerHTML = `
    <li><a href='#' role='button' onclick='showModal()'' style='color:white;background-color: firebrick;''><%= labels.delete %> <%= labels.flag %></a></li>
  `
  setModal('modal-delete-flag')
</script>