<article>
  <div style="text-align: right;">
    <div class="btn-group" role="group" aria-label="Create">
      <a href="/create-bucket" type="button" class="btn btn-outline-primary">Create</a>
    </div>
  </div>
  <br>  
<table class="table table-striped table-hover">
  <tr>
      <th><%= labels.bucket %> <%= labels.name %></th>

  </tr>
  <% buckets.forEach( function(bucket) { %>
    <tr>
      <td><a href="/update-bucket?name=<%= bucket.name %>"> <%= bucket.name %></a></td>
    </tr>    
  <% }) %>
</table>
</article>
<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.buckets %> <%= labels.list %></strong>"
  document.getElementById("menu-actions").innerHTML = `
  <li><a class="dropdown-item" href='/logout'><%= labels.exit %></a></li>
  `
</script>