<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.create %> <%= labels.bucket %></strong>"
</script>

<article>
<form action="/create-bucket" method="POST">

  <!-- Grid -->
  <div class="mb-3">

    <!-- Markup example 1: input is inside label -->
    <label for="bucket-name" class="form-label">
      <%= labels.bucket %> <%= labels.name %>
    </label>
    <input class="form-control" type="text" id="bucket-name" name="bucket-name" required >

  </div>

  <!-- Button -->
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit"><%= labels.create %></button>
  </div>
    
</form>
</article>