<article>
  <div style="text-align: right;">
    <div class="btn-group" role="group" aria-label="Flags">
      <a href="/flags?bucket_name=<%= bucket.name %>" type="button" class="btn btn-outline-primary">Flags</a>
    </div>
  </div>
  <form action="/update-bucket" method="POST">

    <!-- Grid -->
    <div class="grid">

      <!-- Markup example 1: input is inside label -->
      <label for="bucket-name-disabled">
        <%= labels.bucket %> <%= labels.name %>
        <input type="text" id="bucket-name-disabled" name="bucket-name-disabled"  disabled value="<%= bucket.name %>">
        <input type="hidden" name="bucket-name" value="<%= bucket.name %>">
        <input type="hidden" id="bucket-contexts" name="bucket-contexts" value="<%= JSON.stringify(bucket.contexts) %>">
      </label>

    </div>

    <details open>
      <summary role="button" style="background-color: cornflowerblue">Contexts List </summary>
      <article>
        <div style="text-align: right;">
          <div class="btn-group" role="group" aria-label="Flags">
            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-bucket-contexts" class="btn" style="background-color: cornflowerblue;color: white">Edit</a>
    
          </div>
        </div>        
      <ul id="contexts-list-form"></ul>
      </article>  
    </details>    

    <!-- Button -->
    <button type="submit"><%= labels.update %></button>
      
  </form>

</article>
<div id="modal-delete-bucket" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= labels.confirm %>
            <%= labels.deletion %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <article>
          <table>
            <tr>
              <td>
                <%= labels.delete %> : <strong>
                    <%= bucket.name %>
                  </strong>
              </td>
            </tr>
            </tr>
            </tr>
          </table>
        </article>
      </div>
      <div class="modal-footer">
        <a href='/delete-bucket?name=<%= bucket.name %>' class="btn btn-danger"
          style='color:white;background-color: firebrick;'>
          <%= labels.delete %>
        </a>
        <a href='#' class="btn btn-primary" data-bs-dismiss="modal">
          <%= labels.cancel %>
        </a>
      </div>
    </div>
  </div>
</div>
<div id="modal-bucket-contexts" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Contexts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <article>
          <table>
            <tr>
              <td>
                <div style="text-align: right;">
                  <div class="btn-group" role="group" aria-label="Operations">
                    <a href="#" id="add-context-button" type="button" onclick="addContext()"
                      class="btn btn-outline-primary btn-sm">+</a>
                  </div>
                </div>
                <br>
                <input type="text" id="context-box" placeholder="Context Name">
              </td>
            </tr>
            <tr>
              <td>
                <ul id="contexts-list-modal"></ul>
              </td>
            </tr>
          </table>
        </article>
      </div>
      <div class="modal-footer">
        <a href='#' class="btn btn-primary" data-bs-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
<script>
  let contexts = []
  try {
    contexts = JSON.parse("<%= JSON.stringify(bucket.contexts) %>".replace(/&#34;/g,'"').replace(/^"|"$/gm,'')) || []
    
  } catch (error) {}
  addContextsBoxListener()
  showContexts()
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.update %> <%= labels.bucket %></strong>"
  document.getElementById("menu-actions").innerHTML = `
    <li><a class="dropdown-item" href='#' data-bs-toggle="modal" data-bs-target="#modal-delete-bucket" style='color:white;background-color: firebrick;'><%= labels.delete %> <%= labels.bucket %></a></li>
  `
  function addContext() {
    let contextBox = document.getElementById("context-box")
    contexts.push({name:contextBox.value})
    contextBox.value = ""
    showContexts()

  }

  function deleteContext(contextName) {

    let tempList = []
    for (let index = 0; index < contexts.length; index++) {
      element = contexts[index];
      if (element.name != contextName) {
        tempList.push(element)
      }

    }

    contexts = tempList
    showContexts()
    
  }

  function showContexts() {

    let contextsListForm = document.getElementById("contexts-list-form")
    let tempVar = ""
    contextsListForm.innerHTML=""
    
    for (index = 0; index < contexts.length; index++) {
      element = contexts[index];
      tempVar = `<li>${element.name}</li>`
      contextsListForm.innerHTML=contextsListForm.innerHTML + tempVar
      
    }

    let contextsListModal = document.getElementById("contexts-list-modal")
    tempVar = ""
    contextsListModal.innerHTML=""

    for (let index = 0; index < contexts.length; index++) {
      const element = contexts[index];
      tempVar = `<li><i class="bi bi-trash" onclick="deleteContext('${element.name}')"></i> - ${element.name}</li>`
      contextsListModal.innerHTML=contextsListModal.innerHTML + tempVar

    }

    document.getElementById("bucket-contexts").value=JSON.stringify(contexts)
    
  }

  function addContextsBoxListener() {
    document.getElementById("context-box")
      .addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) {
          document.getElementById("add-context-button").click();
      }
    });    
  }

</script>