<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.create %> <%= labels.flag %></strong>"
</script>

<article>
<form action="/create-flag" method="POST">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="flag-name">
      <%= labels.flag %> <%= labels.name %>
      <input type="text" id="flag-name" name="flag-name" required >
    </label>

    <label for="flag-value">
      <%= labels.flag %> <%= labels.value %>
      <input type="text" id="flag-value" name="flag-value" required>
    </label>

  </div>

  <!-- Button -->
  <button role="button" type="submit"><%= labels.create %></button>
    
</form>
</article>