<script>
  document.getElementById("menu-actions").innerHTML = "<li><a href='/create-flag'>Create</a></li>"
  document.getElementById("menu-title").innerHTML = "<strong>Flags List</strong>"
</script>
<article>
<table role="grid">
  <tr>
      <th>Flag Name</th>
      <th>Flag Value</th>
  </tr>
  <% flags.forEach( function(flag) { %>
    <tr>
      <td><a href="/update-flag?name=<%= flag.name %>"> <%= flag.name %></a></td>
      <td><%= flag.value %></td>
    </tr>    
  <% }) %>
  </table>
</article>