<script>
  document.getElementById("menu-title").innerHTML = "<strong>Flags List</strong>"
  document.getElementById("menu-actions").innerHTML = `${actionCreateFlag}`
</script>
<article>
<table role="grid">
  <tr>
      <th>Flag Name</th>
      <th>Flag Value</th>
  </tr>
  <% flags.forEach( function(flag) { %>
    <tr>
      <td><a href="/update-flag?name=<%= flag.name %>"> <%= flag.name %></a></td>
      <td>
        <% if (flag.value=="0") { %>
          <input type="checkbox" id="switch" name="switch" role="switch" disabled>
        <% } else if (flag.value=="1") { %>
          <input type="checkbox" id="switch" name="switch" role="switch" disabled checked>
        <% } else { %>
          <%= flag.value %>
        <% } %>
      </td>
    </tr>    
  <% }) %>
</table>
</article>