<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <% if (typeof module=="undefined")var module="" %>
    <body>
        <nav>
            <ul>
              <li></li>
              <li><strong>Liberty Flags</strong></li>
            </ul>
            <ul>
              <li id="menu-title"></li>
            </ul>            
            <ul>
              <li>
                <details role="list">
                    <summary aria-haspopup="listbox" role="link">Actions</summary>
                    <ul role="listbox" id="menu-actions"></ul>
                </details>                  
              </li>
              <li><a href="/flags">Flags</a></li>
              <li></li>
            </ul>            
          </nav>        
        <% if (typeof messages=="undefined")var messages=[] %>
        <% messages.forEach( function(message) { %>
            <center>
            <mark>
                <%= message %>
            </mark>
            </center>
        <% }) %>  
        <article>
          <%- body %>
        </article>       
    </body>
</html>