<center>
<article style="max-width: fit-content;">
<form action="/login" method="POST">
    <!-- Grid -->
    <div class="grid" style="text-align: left;">
        
        <!-- Markup example 1: input is inside label -->
    <label for="user" style="text-align: left;">
        User
    </label>
        <input class="form-control" type="text" id="user" name="user" required >
    
    <label for="password" style="text-align: left;">
        Password
    </label>
        <input class="form-control" type="password" id="password" name="password" required>
    <input type="hidden" id="language" name="language" value="english">

  </div>
  <br>

  <div class="d-grid gap-2">
      <button class="btn btn-primary" role="button" type="submit">Login</button>
  </div>
    
</form>
</article>
</center>
<script>
    document.getElementById("menu-title").innerHTML = "<strong>Login</strong>"
    document.getElementById("menu-modules").innerHTML = ""
    document.getElementById("menu-button-bar").innerHTML = `

    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Languages
    </a>
    <ul class="dropdown-menu" id="menu-actions">
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="german"'>Deutsch</a></li>
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="spanish"'>Español</a></li>
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="hebrew"'>עִברִית</a></li>
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="english"'>English</a></li>
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="italian"'>Italiano</a></li>
        <li><a class="dropdown-item" href='#' onclick='document.getElementById("language").value="japanese"'>日本語</a></li>
    </ul>  
  `
  </script>