<article>
<form action="/update-flag" method="POST">

  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="flag-name-disabled">
      Flag name
      <input type="text" id="flag-name-disabled" name="flag-name-disabled" placeholder="Flag name" disabled value="<%= flag.name %>">
      <input type="hidden" name="flag-name" value="<%= flag.name %>">
    </label>

    <label for="flag-value">
      Flag value
      <input type="text" id="flag-value" name="flag-value" placeholder="Flag value"  required value="<%= flag.value %>">
    </label>

  </div>

  <!-- Button -->
  <button type="submit">Update</button>
    
</form>
</article>
<div id="modal-delete-flag" style="visibility: hidden;">
  <article>
    <table>
      <tr>
        <td><p style="font-size: xx-large;">Confirm Deletion</p></td>
      </tr>
      <tr>
        <td>Delete : <strong><%= flag.name %></strong></td>
      </tr>         
    </table>
    <footer>
      <a href='/delete-flag?name=<%= flag.name %>'' role='button' style='color:white;background-color: firebrick;'>Delete</a>
      <a href='#' onclick="closeModal()" role='button'>Cancel</a>
    </footer>
  </article>
</div>
<script>
  document.getElementById("menu-title").innerHTML = "<strong>Update Flag</strong>"
  document.getElementById("menu-actions").innerHTML = `
    ${actionCreateFlag}
    <li><a href='#' role='button' onclick='showModal()'' style='color:white;background-color: firebrick;''>Delete Flag</a></li>
  `
  setModal('modal-delete-flag')
</script>