<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.create %> <%= labels.tag %></strong>"
</script>

<article>
<form action="/create-tag" method="POST">

  <!-- Grid -->
  <div class="mb-3">

    <!-- Markup example 1: input is inside label -->
    <label for="tag-name">
      <%= labels.tag %> <%= labels.name %>
    </label>
    <input class="form-control" type="text" id="tag-name" name="tag-name" required >

  </div>

  <!-- Button -->
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit"><%= labels.create %></button>
  </div>
    
</form>
</article>