<article>
  <div style="text-align: right;">
    <div class="btn-group" role="group" aria-label="Create">
      <a href="/create-tag" type="button" class="btn btn-outline-primary">Create</a>
    </div>
  </div>
  <br>    
<table role="grid">
  <tr>
      <th><%= labels.tag %> <%= labels.name %></th>
  </tr>
  <% tags.forEach( function(tag) { %>
    <tr>
      <td><a href="/update-tag?name=<%= tag.name %>"> <%= tag.name %></a></td>
    </tr>    
  <% }) %>
</table>
</article>
<script>
  document.getElementById("menu-title").innerHTML = "<strong><%= labels.tags %> <%= labels.list %></strong>"
  document.getElementById("menu-actions").innerHTML = `
  <li><a href='/logout'><%= labels.exit %></a></li>
  `
</script>